/* UTILITIES */
.emphasize {
    font-family: "Poppins-Bold";
    color: #00f2ff;
}

.de-emphasis {
    color: #aaa;
}

.text-right {
    text-align: right !important;
}

.invert-color, .contacts img, .skill-scroll img, .post-buttons img {
    filter: invert(100%);
}

.pop-up {
    animation: pop-up 1s forwards;
}

.pop-down {
    animation: pop-down 1s forwards;
}

.blur {
    animation: blur 1s forwards;
}

.focus {
    animation: sharp 1s forwards;
}